@font-face { font-family: roboto; src: url('/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: roboto-thin; src: url('/fonts/Roboto-Thin.ttf'); }


.cover-image {
  margin: 0px auto 20px;
  margin-top: 3vw;
  margin-bottom: 4vw;
  display: block;
  height: 31.5vw;
  width: 56vw;

  border-radius:5px 5px 5px 5px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img-box {

}

p {
  font-family: roboto-thin  ;
  font-size: 40pt;
  text-align: center;
}
