@font-face { font-family: roboto; src: url('/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: roboto-thin; src: url('/fonts/Roboto-Thin.ttf'); }
@font-face { font-family: roboto-bold; src: url('/fonts/Roboto-Bold.ttf'); }


.main-navbar {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

li{
  list-style-type: none;

  /*Spacing in the navbar */
  margin: 2vw 0;

  font-size: 3vh;
  font-family: roboto;
}

a{
  text-decoration: none;

  /*Setting text color and font */
  color: black;
  font-family: roboto-thin;

  padding: 3vw;
}

nav{

  /*Set to 100% of viewport width. Choosing a light blue background */
  width: 100vw;
  background-color: #D6EFFF;
  margin-bottom: 0px;
}

ul{

  /* Choosing the orientation of the navbar. display:flex makes it horizontal */
  margin: 0;
  padding: 0;

  display: flex;
}

body{
  margin: 0;
}


a:hover{
  background-color: #C6E9FF;
}

.nav-elements {
  width: 40px;
  height: 40px;
}

.blog {
  width: 180px;
  height: 40px;
}
