@font-face { font-family: roboto; src: url('/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: roboto-thin; src: url('/fonts/Roboto-Thin.ttf'); }

img {
  width: 40vh;
  height: 40vh;

  border-radius:5px 0px 0px 5px ;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .3s;

  border-radius: 5px;

  height: 40vh;

  margin-left: 250px;
  margin-right: 250px;
  margin-top: 26px;
  margin-bottom: 50px;

  display: flex;
  white-space: nowrap;
  word-wrap: break-word;
  max-width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.project-description {
  padding-top: 5px;
  padding-bottom: 5px;

  padding-left: 5px;
  padding-right: 5px;

  font-family: roboto;
  word-wrap:break-word;
  white-space: initial;

  /* To get line */
  /*border-right: 0.5px solid #000000; */
}

.project-title{
  height: 20%;
  font-family: roboto;
  font-size: 20pt;

  padding-top: 1px;
  padding-bottom: 1px;


}

.situation {
  box-sizing: border-box;
  height: 20%;
  word-wrap:break-word;
}

.task {
  box-sizing: border-box;
  height: 20%;
}

.action {
  box-sizing: border-box;
  height: 20%;
}

.result {
  box-sizing: border-box;
  height: 20%;
}
